# ТЕЛЕГРАМ БОТ
TELEGRAM_BOT_TOKEN=ваш_токен_бота_здесь

# ЮKASSA (ТЕСТОВЫЙ РЕЖИМ - для разработки)
YOOKASSA_SHOP_ID=1262862
YOOKASSA_SECRET_KEY=test_ваш_тестовый_ключ_здесь

# ОКРУЖЕНИЕ (не обязательно)
# ENVIRONMENT=development
